@import url(./styles/header.css);
@import url(./styles/carrossel.css);
@import url(./styles/redes-sociais.css);
@import url(./styles/horarios.css);
@import url(./styles/instagram.css);
@import url(./styles/eventos.css);
@import url(./styles/footer.css);

@import url(./styles/sobre.css);

@import url(./styles/contato.css);

:root{
    --preto: #000000;
    --vermelho: #ff0000;
    --branco: #ffffff;
    --laranja: #FA6111;
    --laranja-fraco: #A44513;
    --marrom: #140A05;
    --cinza-transparente: rgba(26, 25, 25, 0.85);
    --laranja-transparente: rgba(248, 114, 4, 0.062);
    --preto-transparente: rgba(0, 0, 0, 0.5);
    --fonte-principal: 'Encode Sans SC', sans-serif;
    --fonte-secundaria: 'Inter', sans-serif;
    --fonte-terciaria: 'Expletus Sans', cursive;
}

body {
    background: linear-gradient(to right, #000000, #2524245d);
}