.rodape {
    background: var(--cinza-transparente);
    color: var(--laranja);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.rodape__imagem {
    width: 25%;
    margin: 0 1.5rem;
}

.rodape__endereço {
    padding: 0 3rem;
}

.rodape__endereço-texto {
    font-family: var(--fonte-principal);
    font-weight: 700;
    white-space: nowrap;
}

.rodape-icone > img {
    width: 7%;
    margin: 0 1.5rem;
}

@media screen and (max-width: 1024px) {
    .rodape-icone > img {
        width: 16%;
        
    }

    .rodape__imagem{
        width: 75% ;
    }
}

@media screen and (max-width: 640px) {
    
    .rodape-icone, .rodape__imagem, .logo-rodape__link {
        display: none;
    }

}